<!DOCTYPE html>
<html>
<head>
  <title>Work Orders Schedule</title>
  <style>
    .grid-container {
      border: thin solid black;
      position: relative;
      display: grid;
      grid-template-columns: 60px repeat(<%= @technicians.count %>, 1fr)
    }
    .grid-header {
      background-color: lightgrey;
      border: thin solid black;
      height: 30px;
      font-size: larger;
      text-align: center;
    }
    .grid-item {
      border: thin solid black;
      height: 120px;
    }
    .block {
      position: absolute;
      background-color: lightblue;
      border: thin solid black;
    }
  </style>
</head>
<body>
  <h1 style="text-align: center;">Work Orders Schedule</h1>

  <div class="grid-container">
    <div class="grid-header">Time</div>
    <% @technicians.each do |technician| %>
      <div class="grid-header"><%= technician.name %></div>
    <% end %>

    <% (5..16).each do |hour| %>
      <div class="grid-item"><%= "#{hour}:00" %></div>
      <% @technicians.each do |technician| %>
        <div class="grid-item"></div>
        <% @work_orders.each do |work_order| %>
          <% if work_order.technician_id == technician.id && work_order.time.hour == hour %>
            <div class="block" style=
            "width: calc((100% - 72px) / <%= @technicians.count %>);
            height: <%= (work_order.duration + (work_order.duration / 61)) * 2 %>px;
            left: calc(60px + (<%= technician.id - 1 %> * calc((100% - 60px) / <%= @technicians.count %>)));
            top: calc(32px + <%= (hour-5) * 122 + (work_order.time.min * 2) %>px);">
              <strong><%= work_order.location.name %></strong><br>
              <%= work_order.location.city %><br>
              <%= work_order.time.strftime("%H:%M") %><br>
              <%= work_order.duration %> mintutes<br>
              <%= number_to_currency(work_order.price) %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</body>
</html>