<div id="<%= dom_id work_order %>">
  <p>
    <strong>Technician:</strong>
    <%= work_order.technician_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= work_order.location_id %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= work_order.time %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= work_order.duration %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= work_order.price %>
  </p>

</div>
